[submodule "medius"]
	path = medius
	url = https://github.com/danielfrg/pelican-ipynb.git
[submodule "pelican-ipynb"]
	path = pelican-ipynb
	url = https://github.com/danielfrg/pelican-ipynb.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
